<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <title>ログアウト</title>
    <meta charset="UTF-8">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index_template' %}">Unchi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{%  url 'index_template' %}">ホーム</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">閲覧</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">投稿</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link btn btn-link">ログアウト</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'signup' %}">サインアップ</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h1 class="text-center">ログアウトしました</h1>
    <p class="text-center">ここから<a  class="text-center" href="{% url 'index_template' %}">ログイン</a></p>
</body>
</html>